@model IEnumerable<VirtualDoormanAspNet.Models.People>
@{
    ViewData["Title"] = "Moradores";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>@ViewData["Title"]</h2>

<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Editar</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td><i class="fa fa-pencil"></i></td>
                <td>
                    @Html.DisplayFor(modelItem => items.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => items.Cpf)
                </td>
                <td><i class="fa fa-trash"></i></td>
            </tr>
        }
    </tbody>
</table> 